#Welcome {
  position: relative;
  text-align: center;
  padding-bottom:85px !important;
  h2,p{
    text-align:center;
  }
  p{

  }
  .video{
    position: absolute;
    bottom:15px;
    >a{
      display: inline-block;
      vertical-align: middle;
      .police-size(19);
      text-transform: uppercase;
      .quicksand();
      color:white;
      transition: all 0.3s;
      padding-right:5px;
      border-radius: 2px;
      &:before{
        vertical-align: middle;
        content:" ";
        margin-right:15px;
        border-radius: 2px;
        box-sizing: content-box;
        .ico-video();
        height: 50px;
        width: 50px;
        background: url(../imgs/sprites.png) -153px -71px no-repeat;
        display:inline-block;
        border:1px solid @gray2;
      }
      &:hover{
        background: rgba(255,255,255,0.2);
        text-decoration: none;
      }
    }
  }
}

#Magazine{
  p{
    margin-top:30px;
  }
}

#Contact{
  ul{
    margin:0px;
    padding: 0px;
    list-style: none;
    text-align: center;
    li{
      margin-bottom:15px;
    }
  }
  a{
    color:white;
    .muli();
    .police-size(15);
    text-transform: lowercase;
    &:before{
      border-radius: 50%;
      content: " ";
      margin:0 auto;
      box-shadow: 1px 1px 5px rgba(0,0,0,0.75);
    }
    &:hover{
      text-decoration:none;
    }
    &.mail{
      &:before{
        .ico-bouee();
      }
    }
    &.tel{
      &:before{
        .ico-ancre();
      }
    }
    &.adresse{
      &:before{
        .ico-bateau();
      }
    }
    &.faq{
      &:before{
        .ico-noeud();
      }
    }
  }
}

#Agenda{
  position: relative;
  a{
    margin:0px 10px;
    color:white;
    display: block;
    img{
      width: 100%;
    }
    h3{
      .muli();
      .police-size(13);
    }
    time{
      .muli();
      .police-size(11);
    }
  }
  .owl-controls{
    height:0px;
    position: absolute;
    width: 100%;
    top:50%;
    margin:0px;
    .owl-next{
      margin: 0px;
      position: absolute;
      right:-10px;
      top:-20px;
      text-indent:-9999px;
      .ico-arrow-right();
    }
    .owl-prev{
      position: absolute;
      left:-10px;
      margin: 0px;
      top:-20px;
      text-indent:-9999px;
      .ico-arrow-left();
    }
  }
}

#Galerie{
  a{
    text-align: center;
    display: block;
    img{
      max-width: 140px;
      height:100px;
    }
  }
  .owl-controls{
    height:0px;
    position: absolute;
    width: 100%;
    top:50%;
    margin:0px;
    .owl-next{
      margin: 0px;
      position: absolute;
      right:-10px;
      top:-20px;
      text-indent:-9999px;
      .ico-arrow-right();
    }
    .owl-prev{
      position: absolute;
      left:-10px;
      margin: 0px;
      top:-20px;
      text-indent:-9999px;
      .ico-arrow-left();
    }
  }
}

#ImportantLinks{
  position: relative;
  ul{
    list-style: none;
    padding:0px;
    margin:0px;
    li{
      margin-top:40px;
      &:first-child{
        margin-top:0px;
      }
    }
  }
  a:not(.meteoConsultation){
    margin-left:15px;
    width:100%;
    display:block;
    vertical-align: middle;
    color: #000000;
    text-decoration: none;
    &:after{
      content:" ";
      clear: both;
    }
    &.booking{
      &:before{
        .ico-gouvernail();
      }
    }
    &.services{
      &:before{
        .ico-boussole();
      }
    }
    &.meteo{
      &:before{
        .ico-soleil();
      }
    }
    h2{
      display:inline-block;
      margin-bottom: 5px;
    }
    &:before{
      transition: all 0.2s;
      vertical-align: middle;
      content:" ";
      margin-right:15px;
      box-sizing: content-box;
      display:block;
      float:left;
      border:1px solid @gray3;
    }
    &:hover{
      &:before{
        background-color: @red;
        border-color: @red;
        color:@red;
      }
      p{
        color:#000000;
      }
      color: @red;
    }
  }
  .meteoConsultation{
    position: absolute;
    bottom:5px;
    right:5px;
    color:@gray2;
    font-size:12px;
    .muli();
    &:after{
      content:" >>";
    }
  }
}

#Search{
  position: relative;
  min-height:60px;
  .row{
    position: absolute;
    top:50%;
    height:1px;
    margin-top: -14px;
    width:100%;
  }
  .search{
    position: relative;
    input{
      width:100%;
      border-radius:14px;
      padding:4px 20px;
      border:1px solid @gray1;
      .muli();
      .police-size(12);
      &:focus{
        outline: none;
        border:1px solid @blue;
      }
    }
    &:after{
      content:" ";
      .ico-loupe();
      display: block;
      right:10px;
      top:4px;
      position: absolute;
    }
  }

}

#OtherLinks{
  ul{
    list-style: none;
    padding:0px;
    margin:0px;
    li{
      color:@gray1;
      a{
        text-transform: uppercase;
        .muli(300);
        color:@gray1;
        &:before{
          display: inline-block;
          content:" ";
          width:10px;
          height:10px;
          border:1px solid @gray1;
          margin-right:10px;
        }
        &:hover{
          text-decoration: none;
        }
        &:hover{
          &:before{
            background: @blue;
          }
        }
      }
    }
  }
}
