// Header

@media (max-width: 768px){
  #Header{
    padding-top:30px;
  }
  #Navigation{
    width: 100%;
    right: 15px;
    top:0px;
    position: fixed;
    background:@blue;
    left:0px;
    z-index: 3;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.75);
    ul{
      li{
        margin: 1px 20% !important;
        box-shadow: none !important;
        a{
          width:100% !important;
          border-radius: 2px;
        }
      }
    }
  }
  #LogoCapitainerie{
    margin: 0 auto !important;
    margin-top:30px !important;
    float:none !important;
  }
  #Languages{
    position: fixed;
    z-index: 3;
    left: 0px;
    top: 8px;
    width:auto !important;
    margin:0px !important;
    left: 50%;
    margin-left: -81px !important;
  }
  #LogoStTropez{
    z-index: 3;
    top: 8px;
    margin:0px !important;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.75) !important;
    position: fixed;

  }
  #SocialNetwork{
    margin:0px !important;
  }
}